@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.otf') format('opentype');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --background1: #002339;
    --background2: #145a85;
    --color1: #91d6e9;
    --color2: #67aabc;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, var(--background1), var(--background2));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: var(--color1);
}
.hero textarea{
    width: 600px;
    height: 250px;
    background-color: rgba(149, 195, 208, 0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: var(--color2);
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
button img{
    width: 16px;
    margin-right: 10px;
}
.row select{
    flex: 1;
    color: #fff;
    background-color: rgba(149, 195, 208, 0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-Y: 20px;
}


